.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.streams-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tr {
  border-bottom: 1px solid black;
}

td {
  padding: 15px 20px;
}

img {
  border-radius: 5px;
}

img:hover {
  transform: scale(1.2);
  transition: 1s;
}
